auctionOpdrachtWebClient/src/META-INF/wsdl/localhost_8080/Auction.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="bid" type="tns:bid"></xs:element>

<xs:element name="category" type="tns:category"></xs:element>

<xs:element name="findItemByDescription" type="tns:findItemByDescription"></xs:element>

<xs:element name="findItemByDescriptionResponse" type="tns:findItemByDescriptionResponse"></xs:element>

<xs:element name="fontysTime" type="tns:fontysTime"></xs:element>

<xs:element name="getItem" type="tns:getItem"></xs:element>

<xs:element name="getItemResponse" type="tns:getItemResponse"></xs:element>

<xs:element name="item" type="tns:item"></xs:element>

<xs:element name="money" type="tns:money"></xs:element>

<xs:element name="newBid" type="tns:newBid"></xs:element>

<xs:element name="newBidResponse" type="tns:newBidResponse"></xs:element>

<xs:element name="offerItem" type="tns:offerItem"></xs:element>

<xs:element name="offerItemResponse" type="tns:offerItemResponse"></xs:element>

<xs:element name="revokeItem" type="tns:revokeItem"></xs:element>

<xs:element name="revokeItemResponse" type="tns:revokeItemResponse"></xs:element>

<xs:element name="user" type="tns:user"></xs:element>

<xs:complexType name="revokeItem">
<xs:sequence>
<xs:element name="arg0" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="seller" type="tns:user" minOccurs="0"></xs:element>
<xs:element name="category" type="tns:category" minOccurs="0"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="highest" type="tns:bid" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bid">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="time" type="tns:fontysTime" minOccurs="0"></xs:element>
<xs:element name="buyer" type="tns:user" minOccurs="0"></xs:element>
<xs:element name="amount" type="tns:money" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fontysTime">
<xs:sequence>
<xs:element name="seconds" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="money">
<xs:sequence>
<xs:element name="currency" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cents" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revokeItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findItemByDescription">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findItemByDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newBid">
<xs:sequence>
<xs:element name="arg0" type="tns:item" minOccurs="0"></xs:element>
<xs:element name="arg1" type="tns:user" minOccurs="0"></xs:element>
<xs:element name="arg2" type="tns:money" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newBidResponse">
<xs:sequence>
<xs:element name="return" type="tns:bid" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItem">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="offerItem">
<xs:sequence>
<xs:element name="arg0" type="tns:user" minOccurs="0"></xs:element>
<xs:element name="arg1" type="tns:category" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="offerItemResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>